doctype html
html(lang="ko")
    head
        meta(charset="utf8")
        title Noom
        link(rel="stylesheet", href="https:/unpkg.com/mvp.css")
    body
        header
            h1 Noom
        main
            div#faceStream
                div
                    input#audio_toggle(type="checkbox", checked)
                    div 사운드
                    input#video_toggle(type="checkbox", checked)
                    div 비디오
                    select#camera_devices
                video#myFace(width="400", height="400", autoplay, playsinline)
                video#peerFace(width="400", height="400", autoplay, playsinline)
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")
